doctype html
html
  head
    title="chat"
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="//fonts.lug.ustc.edu.cn/icon?family=Material+Icons")
    link(rel="stylesheet", href="//cdn.bootcss.com/materialize/0.98.1/css/materialize.min.css")
    link(rel="stylesheet", href="/css/style.css")
    link(href="/css/page/chat.css", rel="stylesheet")

  body
    ul.pages
        li.chat.page
            .chatArea
                ul.messages
                    input.inputMessage(placeholder="Type here...")
        li.login.page
            .form
                h3.title What&apos;s your nickname?
                    input.usernameInput(type="text", maxlength="14")

    script(src='//cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="/js/chat.js")
