doctype html
html
  head
    title= common.title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    link(href=common.logo, rel="shortcut icon")
    link(rel="icon" type="image/x-icon" href=common.logo)
    link(rel="stylesheet", href="//fonts.lug.ustc.edu.cn/icon?family=Material+Icons")
    link(rel="stylesheet", href="/css/materialize.min.css")
    link(rel="stylesheet", href="/css/style.css")
    block css
  body
    include ../components/nav.pug
    block content
    include ../components/menu.pug
    include ../components/footer.pug
    script(src="/js/jquery-3.2.0.min.js")
    script(src="/js/materialize.min.js")
    script(src="/js/main.js")
    block js
