nav.white(role="navigation")
  .nav-wrapper.container
    a#logo-container.brand-logo(href=common.nav.homeUrl)
      if common.nav.logo
        img.circle(src= common.logo, height="50", width="50")
      else
        img.circle(height="50", width="50")
    ul.right.hide-on-med-and-down
      if common.nav.nav
        each val in common.nav.nav
          li
            a(href= val.url) #{val.label}
    ul#nav-mobile.side-nav
      if common.nav.nav
        each val in common.nav.nav
          li
            a(href= val.url) #{val.label}
    a.button-collapse(href="#", data-activates="nav-mobile")
      i.material-icons menu
